# Dependency directories
node_modules/
**/node_modules/

# Build and cache directories
.next/
**/.next/
dist/
**/dist/
.wrangler/
**/.wrangler/
.turbo/
**/.turbo/
out/
**/out/

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Git and IDE configurations
.git
.gitignore
.gitattributes
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
**/local.properties
